.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  text-align: center;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
input {
  padding: 12px;
  border-radius: 12px;
}

button {
  padding: 12px 26px;
  border-radius: 20px;
  background-color: blueviolet;
  border: 0px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.button {
  padding: 12px 26px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  background-color: blueviolet;
  border: 0px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
}
